.event {
    height: 100%;
    width: 100%;
}

.event-padding {
    padding: 78px 42px;
}

.event-one {
    width: 100%;
    color: #fff;
    background-color: #1E40AF;
}

.event-one>h1 {
    font-size: 34px;
    letter-spacing: 1.4;
    line-height: 78px;
}

.event-one>p {
    font-size: 18px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

.event-two {
    width: 100%;
    background-color: rgb(223, 223, 255);
}

.eventcard {
    width: 350px;
    height: 600px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.766);
    transition: 0.3s ease;
}

.eventcard:hover {
    transform: scale(1.02);
    box-shadow:  0px 0px 6px rgba(0, 0, 0, 0.705)
}
.card-imgParent {
    width: 100%;
    height: 35%;
}

.card-imgParent>img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
}

.event-contents {
    padding: 16px;
}

.event-contents>a {
    text-decoration: none;
    color: rgb(65, 65, 255);
}

.event-contents>h2 {
    font-size: 22px;
    line-height: 2;
}

.event-paragraph {
    font-size: 14px;
    line-height: 1.2;
}

.event-contents>h6 {
    font-size: 14px;
    line-height: 2;
}

.event-date {
    font-size: 12px;
    line-height: 22px;
}

.event-contents>button {
    margin-top: 18px;
    padding: 10px 38px;
    color: #fff;
    background-color: rgb(55, 55, 255);
    border: none;
    border-radius: 4px;
}